.container {
    border: solid black 2px;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
}

.btn {
    background-color: green;
    color: white;
    width: 150px;
    height: 100px;
}

#result {
    font-size: xx-large;
}

.restart {
    background-color: green;
    color: white;
    width: 150px;
    height: 50px;
}