@media screen and (max-width: 1250px) {
    .contact-links {
        width: 70%;
    }
    .photo {
        padding: 2em;
    }
}

@media screen and (max-width: 998px) {
    nav ul {
        width: 100%;
    }
    .name {
        padding: 0;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-links {
        padding-left: 5%;
        flex-direction: column;
        width: 60%;
    }
    .photo {
        padding: 0 4em;
        order: 2;
        grid-column: span 2;
    }
    .photo img {
        height: 30em;
    }
    .about-me {
        grid-column: span 3;
        order: 1;
        border-bottom: solid 1px grey;
    }
    .gallery {
        height: auto;
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .gallery img {
        margin-bottom: 2%;
        width: 30%;
        height: auto;
        object-fit: cover;
        border: solid 1px grey;
    }
    .skills {
        order: 3;
        border: none;
    }
    .experience {
      order: 4;
      grid-column: span 3;
    }
    .experience-detail {
        left: 180px;
    }
    .other-comments {
        order: 4;
        grid-column: span 3;
    }
    .input-comment {
        order: 5;
        grid-column: span 3;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
    }
    nav {
        width: 40%;
        border-bottom: solid 1px grey;
        border-right: solid 1px grey;
        font-size: 1.5em;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        padding-left: 1.5em;
    }
    #login-panel {
        /* visibility: visible; */
        top: 85%;
        left: 20%;
        width: 350px;
        padding: 1em;
    }
    .header-block {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .name {
        font-size: x-large;
        width: 100%;
        height: 50%;
        border-bottom: solid 1px grey;
    }
    .contact-links {
        height: 50%;
        font-size: large;
    }
    .contact-list {
        display: flex;
        flex-direction: row;
    }
    .contact-list > * {
        margin-right: 3em;
    }
    .contact-list a {
        display: none;
    }
    .photo {
        padding: 2em;
        grid-column: span 3;
    }
    .photo img {
        height: 100%;
    }
    .skills {
        order: 3;
        border-top: solid 1px grey;
        grid-column: span 3;
    }
    .skills ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10em;
    }
    .experience-detail {
        width: 380px;
        left: 80px;
    }
}