body {
    display:flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}
.container {
    margin: 5% 0;
    min-width: 400px;
    max-width: 90%;
}
.card {
    border: solid 1px black;
    margin-bottom: 10px;
    padding: 2% 0;
}
#monthNames, #task2, #task3 {
    text-align: left;
    list-style: square;
}
#task5v1 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#task5v1 > div {
    padding: 10px 0;
    border: solid 1px black;
    width: 30%
}
#task5v2 p, #task5v1 p {
    margin:0;
}
#task5v2 td {
    width: 150px;
    border:solid 1px black;
}
table {
    margin: 5% 5%;
    border-collapse: collapse;
}
#task6 td {
    height: 30px;
    width: 30px;
    border: solid 1px black;
}
.black {
    background-color: black;
}
#list {
    text-align: left;
    display: inline-block;
    width: 49%;
}
#list + table {
    display: inline-block;
    margin: 0;
}

#task7 td, #task8 td {
    border: solid 1px black;
}