@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/* FONTS */
.font-script {
    font-family: 'Bad Script', cursive;
}

/* GENERAL SETUP */

body {
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    background-image: url('../IMG/components/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
}
.header-cover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.306);
}
.header-row {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}
header button {
    margin-right: 50px;
    padding: 17%;
    background: none;
    border: solid 2px black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: large;
}
.dropdown {
    float: right;
    margin-top: 20px;
}
.logo {
    width: 80%;
    text-align: center;
    font-size: 40px;
}
.logo h1 {
    margin: 0;
    padding: 0;
}
nav {
    height: 0px;
    width: 100%;
}

nav ul{
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav li {
    font-size: xx-large;
    width: 100%;
    margin: 1% 0;
    list-style: none;
}
nav li:hover, header button:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

/* MAIN SECTION */

.where-to {
    display: flex;
    justify-content: space-around;
    height: 70vh;
}
.destination {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    background-color: rgba(255, 166, 0, 0.306);
    opacity: 0.8;
    color: rgb(255, 255, 255);
}
.destination h1 {
    box-shadow: 0 0 10px 3px black;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.441);
}
.destination h1:hover {
    color: rgb(252, 222, 71);
    cursor: pointer;
}
.beach {
    background-image: url('../IMG/beach.jpg');
}
.mountains {
    background-image: url('../IMG/mountains.jpg');
}
.cities {
    background-image: url('../IMG/cities.jpg');
}
.culture {
    background-image: url('../IMG/culture.jpg');
}

/* FOOTER SECTION */

.footer {
    margin-top: 10%;
    padding: 5%;
    background-color: rgba(255, 166, 0, 0.306);
}
.social span {
    font-size: xx-large;
    padding: 0 30px;
}