body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.container {
    max-width: 80%;
}

.card {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2% 5%;
}

fieldset div {
    margin-bottom: 2%;
}

form > div {
    margin-top: 2%;
}

.story {
    display: flex;
    flex-direction: column;
}