@media screen and (min-width: 760px) {
    .where-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .where-to {
        height: 35vh;
        width: 45vw;
    }

}

@media screen and (min-width: 960px) {
    .dropdown {
        visibility: hidden;
    }
    nav ul{
        visibility: visible;
        /* margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around; */
    }
}