body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header section */
header, .social {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social {
    background-color: black;
    color: white;
}
.social-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1200px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav ul{
    margin: 1% 0;
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
nav li {
    list-style: none;
}
nav li:hover {
    color: gold;
    text-decoration: underline;
    cursor: pointer;
}
.banner {
    margin-top: 3%;
    color: white;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1449824913935-59a10b8d2000?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner h1, .banner p {
    margin: 0.5% 0;
    text-shadow: 0 0 2px black;
}

/* MAIN SECTION */

/* Services: */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    max-width: 1200px;
}
.service {
    margin-top: 1%;
    padding: 2%;
    text-align: center;
    width: 28%;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.244);
}
.service a {
    text-align: right;
    color: #D2BB74;
    text-decoration: none;
}
.read {
    text-align: right;
}
.service-logo img{
    width: 30%;
    height: 30%;
}

.service:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.653);
}
.service:hover a {
    text-decoration: underline;
}

/* Second Banner */

.banner-second {
    margin-top: 1%;
    background-color: rgb(224, 224, 224);
    padding: 4% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-second-content {
    height: 100%;
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.offer {
    width: 30%;
}
.banner-second-content div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.banner-second-content img {
    object-fit: cover;
    height: auto;
    width: 48%;
}

/* Mission section */

.mission {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mission-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 28%;
    text-align: center;
    height: auto;
}
.person h2, .person h4, .person p {
    margin: 1%;
}
.person h4 {
    color: #D2BB74;
}
.person img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid grey 1px;
    border-right: solid grey 1px;
    padding: 0 1% 2% 1%;
    width: 58%;
    height: auto;
}
.description div:nth-child(3) {
    border-top: solid 1px grey;
}
.description div:nth-child(4) {
    text-align: right;
}
.description div:nth-child(4) a{
    color: #D2BB74;
    text-decoration: none;
}
.advertisement {
    color: white;
    text-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?auto=format&fit=crop&q=80&w=1332&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 5% 10%;
    margin-right: -1%;
}
.advertisement button {
    padding: 1% 2%;
    width: 30%;
    color: white;
    background-color: #D2BB74;
    border: none;
}
.phone {
    color: rgb(195, 166, 0);
}

/* Learn section */

.learn {
    margin-top: 5%;
    background-color: #D2BB74;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.learn-content {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.learn-content button {
    text-transform: uppercase;
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    height: 60%;
    padding: 1% 3%;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 5% 0;
}
.footer-content {
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.footer-content > * {
    width: 24%;
}
.footer-content li {
    list-style: none;
}
.newsletter > * {
    width: 100%;
}
.newsletter input {
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    margin-bottom: 5%;
}
.newsletter button {
    background-color: #D2BB74;
    color: white;
    padding: 2% 3%;
    border: none;
}