body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1200px;
}
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
main div {
    color: white;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://picsum.photos/800/600');
}
header {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://picsum.photos/1600/800');
}
main div:nth-child(odd) {
    background-image: url('https://picsum.photos/650/500');
}
main div:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('https://picsum.photos/600/500');
}
main div:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('https://picsum.photos/700/500');
}
footer {
    height: 150px;
    background-image: url('https://picsum.photos/1600/800');
}